@font-face {
    font-family: 'foglihtenno07regular';
    src: url('foglihtenno07-webfont.eot');
    src: url('foglihtenno07-webfont.eot?#iefix') format('embedded-opentype'),
         url('foglihtenno07-webfont.woff2') format('woff2'),
         url('foglihtenno07-webfont.woff') format('woff'),
         url('foglihtenno07-webfont.ttf') format('truetype'),
         url('foglihtenno07-webfont.svg#foglihtenno07regular') format('svg');
    font-weight: normal;
    font-style: normal;
}